{% extends 'main.html' %}

{% block content %}
<div class="container">
    <div class="section">
        <h1>Welcome to Kolla Prashanth's Portfolio!</h1>
        <p>Hi there! 👋 I'm Kolla Prashanth, a passionate Full Stack Developer and technology enthusiast with a flair for
            creating intuitive, responsive, and efficient web applications. As a recent graduate in Electronics & Communication
            Engineering with hands-on experience in Full Stack Development and Machine Learning, I aim to bring innovation to
            every project I undertake.</p>
    </div>
</div>
<div class="container">
    <div class="section">
            <h1>My Mantra 🌟</h2>
            <blockquote>
                "Karmanya Evadhikaraste Ma Phaleshu Kadachana"
            </blockquote>
            <p><strong>🌟Focus on Efforts:</strong>Dedicate myself wholeheartedly to my work.</p>
            <p><strong>✨Detach from Outcomes:</strong>Let results take care of themselves.</p>
            <p><strong>🚀Stay Resilient:</strong>Embrace challenges as opportunities to grow.</p>
            <p>It inspires me to approach every project with passion, perseverance, and positivity.</p>
    </div>
</div>

{% endblock content %}