{% extends 'main.html' %}

{% block content %}
<div class="container">
    <div class="section">
        <h1>Education</h1>
        <table rules="all" cellpadding="8px">
            <tr>
                <th>Degree</th>
                <th>Specialization</th>
                <th>School/College</th>
                <th>Year</th>
                <th>CGPA/%</th>
            </tr>
            <tr>
                <td>B.Tech</td>
                <td>Electronic & Communication Engineering</td>
                <td>MITS Madanapalle</td>
                <td>2021-2024</td>
                <td>84</td>
            </tr>
            <tr>
                <td>Inter BIEAP</td>
                <td>Physics, Chemistry, & Mathematics</td>
                <td>Sri Chaitanya Junior College</td>
                <td>2020</td>
                <td>88</td>
            </tr>
            <tr>
                <td>SSC ICSE</td>
                <td>-</td>
                <td>Bhuvanagiri Public School</td>
                <td>2018</td>
                <td>75</td>
            </tr>
        </table>
    </div>
</div>

{% endblock content %}